@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import "util/variables";
@import "util/placeholders";

* {
  margin: 0;
  padding: 0;
}


/* BACKGROUND IMAGES */

.bg-desktop {
  display: none;
}

.bg-top {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 414px;
}

.bg-bottom {
  position: fixed;
  z-index: -2;
  bottom: -300px;
  right: 0;
  width: 100%;
  max-width: 400px;
}

main {
  margin: 0 auto;
}

.main-text {
  margin: 0 auto;
  width: 375px;
  max-width: 98%;

  h1 {
    margin: 0 auto;
    width: 80%;
    @extend %spartan-700;
    color: $dark-magenta;
    font-size: 31px;
    text-align: center;
    padding-top: 81px;
    margin-bottom: 23px;
    line-height: 32px;
  }

  p {
    margin: 0 auto;
    @extend %spartan-500;
    color: $dark-gray-magenta;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    width: 92%;
    margin-bottom: 40px;
  }
}

.reviews {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 328px;
  max-width: 98%;

  .review {
    background-color: $light-gray-magenta;
    border-radius: 10px;
    height: 60px;
    padding: 9px 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;

    img {
      padding: 0 2px;
    }
  }

  h2 {
    @extend %spartan-700;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: $dark-magenta;
  }
}

.testimonials {
  width: 328px;
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 98%;
}

.testimonial {
  background-color: $dark-magenta;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 250px;

  p {
    @extend %spartan-500;
    color: $light-gray-magenta;
    font-size: 13px;
    width: 82%;
    margin-left: 33px;
    padding-bottom: 50px;
    line-height: 22px;
  }
}

.card-top {
  display: flex;
  align-items: center;
  margin-left: 33px;
  padding-top: 39px;
  padding-bottom: 28px;
  width: 80%;

    img {
      border-radius: 100px;
      width: 40px;
      margin-right: 23px;
    }

    .card-headers {
      display: flex;
      flex-direction: column;
      height: inherit;
      align-content: center;

      h2 {
        @extend %spartan-700;
        font-size: 13px;
        color: $white;
      }

      h3 {
        @extend %spartan-400;
        color: $soft-pink;
        font-size: 13px;
        position: relative;
        top: 4px;
      }
    }
  }

.attribution {
  @extend %spartan-500;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;

  a {
    @extend %spartan-700;
    color: $dark-magenta;
  }
}

@media screen and (min-width: 1150px) {

  .bg-mobile {
    display: none;
  }

  .bg-desktop {
    display: block;
  }

  .bg-top {
    width: 40.6%;
    max-width: none;
  }

  .bg-bottom {
    bottom: 0px;
    width: 75%;
    max-width: none;
  }

  main {
    width: 1108.8px;
    padding-top: 130px;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .main-text {
    margin: 0;
    width: 454px;
    max-width: none;

    h1 {
      margin: 0;
      width: inherit;
      font-size: 45px;
      text-align: left;
      line-height: 49px;
      padding: 0;
      margin-bottom: 10px;

    }

    p {
      margin: 0;
      font-size: 14px;
      text-align: left;
      width: inherit;
      line-height: 26px;
    }
  }

  .reviews {
    margin: 0;
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;


    .review {
      padding: 0;
      margin: 0;
      flex-direction: row;
      justify-content: flex-start;
      height: 55px;
      width: 444px;
      align-items: center;
      margin-bottom: 16px;

    }

    .stars {
      margin-bottom: 0px;
      padding-left: 28px;
      padding-right: 26px;

      img {
        margin-right: 4px;
      }
    }

    h2 {
      margin: 0px;
      text-align: left;
    }
  }

  #review-1 {
    margin-right: 47px * 2;
    margin-top: 17px;
  }

  #review-2 {
    margin-right: 47px;
  }


  .testimonials {
    margin: 0;
    margin-bottom: 40px;
    width: inherit;
    max-width: none;
    display: flex;
    justify-content: space-between;
  }

  .testimonial {
    margin: 0;
    width: 344px;
    height: 233px;

    p {
      padding: 0;
      width: 85%;
    }
  }

  #testimonial-2 {
    margin-top: 16px;
  }

  #testimonial-3 {
    margin-top: 16px * 2;
  }

}
